

/*this is everything to do with head*/
.head{
    width: 100%;
    height: 10%;
    stroke: 1px #000000 solid;
}
.searchbar{
    width: 100%;
    height: 50px;
    position: absolute;
    top: 5%;
    left: 40%;
}
.cart{
    width: 277px;
    height: 40px;
    border: 1px #000000 solid;
    position: absolute;
    top: 5%;
    left: 70%;
    background-color: #1b82d6;
}
.carticon{
    width: 40px;
    height: 22px;
    background-color: #1b82d6;
    padding: 9px 9px;
}
.cartinfo{
    width: 200px;
    height: 20px;
    -webkit-text-fill-color: #FFFFFF;
    background-color: transparent;
    position: relative;
    left: 56px;
    bottom: 38px;
    padding: 9px 9px;
    align-content: center;
}
/*this is everything to do with the navbar*/
.navbar{
    background-color: #000000;
    -webkit-text-fill-color: #FFFFFF;
    height: 10%;
    width: 100%;
    
}
.navbar li{
    list-style-type: none;
    display: inline-flex;
    padding: 9px 9px;
}
.category{
    position: relative;
    bottom: 5px;
    padding-right: 55px;
}
.home_icon{
    position: relative;
    right: 25px;
}
/*this is everything to do with the body*/
body{
  width: 100%;
}
/*this is everything to do with the slideshow*/
* {box-sizing:border-box}
.slideshow-container {
    width: 78%;
    margin: auto;
    position: absolute;
    left: 21%;
  }
  .mySlides {
    display: none;
  }
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
    bottom: 50px;
  }
  .active, .dot:hover {
    background-color: #717171;
  }
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }    
/*
/*this is everything to do with the categories*/
.content_block{
  border: 1px #000000 solid;
  height: 100%;
  width: 20%;
  box-shadow: 2px 2px 11px 0 rgb(0 0 0 / 10%);
    clear: left;
    float: left;
    margin-bottom: 30px;
    padding: 15px 25px 30px;
    position: absolute;
    left: 0.75%;
    float: left;
}
.categories_heading{
  text-decoration: underline;
  text-transform: uppercase;
}
.tree ul{
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  width: 100%;
}

.tree ul li{
  border: 1px solid #ddd; /* Add a thin border to each list item */
  margin-top: -10px; /* Prevent double borders */
  background-color: #f6f6f6; /* Add a grey background color */
  padding: 10px; /* Add some padding */
}
.plus{
  position: absolute;
  left: 212px;
}
/*this everything for all the adverts*/
.paymentp{
  width: 20%;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: -1390px;
}
.ozow{
  background-color: #FFFFFF;
    box-shadow: 2px 2px 11px 0 rgb(0 0 0 / 10%);
    clear: left;
    float: left;
    margin-bottom: 30px;
    padding: 15px 25px 30px;
    width: 92%;
    position: relative;
    bottom: 260pt;
}
.paygate{
  background-color: #FFFFFF;
    box-shadow: 2px 2px 11px 0 rgb(0 0 0 / 10%);
    clear: left;
    float: left;
    margin-bottom: 30px;
    padding: 15px 25px 30px;
    width: 92%;
    position: relative;
    bottom: 250pt;
}
.payfast{
  background-color: #fff;
    box-shadow: 2px 2px 11px 0 rgb(0 0 0 / 10%);
    clear: left;
    float: left;
    margin-bottom: 30px;
    padding: 15px 25px 30px;
    width: 92%;
    position: relative;
    bottom: 230pt;
}


/*this is everything for the product categories*/
.product_cat{
  margin: 10px -10px 0;
  background-color: #717171;
}
.product_cat li{
  list-style: none;
}
/* starts*/

.gaming{
box-sizing: border-box;
position: absolute;
width: 150px;
height: 291px;
left: 300px;
top: 527px;
border: 1px solid #000000;
text-align: center;
}
.computers{
  position: absolute;
  top: 527px;
  left: 475px;
  width: 150px;
  height: 291px;
  border: 1px solid black;
  text-align: center;
}
.electronics{
  box-sizing: border-box;
  position: absolute;
  top: 527px;
  left: 650px;
  width: 150px;
  height: 291px;
  border: 1px solid #000000;
  text-align: center;
}
.smartwatch{
  box-sizing: border-box;
  position: absolute;
  top: 527px;
  left: 825px;
  width: 150px;
  height: 291px;
  border: 1px solid #000000;
  text-align: center;
}
.printers{
  box-sizing: border-box;
  position: absolute;
  top: 527px;
  left: 1000px;
  width: 150px;
  height: 291px;
  border: 1px solid #000000;
  text-align: center;
}
.smartphones{
  box-sizing: border-box;
  position: absolute;
  top: 527px;
  left: 1175px;
  width: 150px;
  height: 291px;
  border: 1px solid #000000;
  text-align: center;
}
.heading{
  font-size: 24px;
}
/*this is everything products*/
.products{
  position: absolute;
  top: 900px;
  left: -10px;
  text-align: center;
}
.carts{
  width: 130px;
}
.wahoo-container{
  box-sizing: border-box;
  width: 150px;
  border: 1px solid #000000;
  height: 450px;
  position: absolute;
  top: -50px;
  left: 310px;
}
.acer-container0{
  box-sizing: border-box;
  width: 150px;
  border: 1px solid #000000;
  height: 450px;
  position: absolute;
  top: 0px;
  left: 175px;
}
.acer-container1{
  box-sizing: border-box;
  width: 150px;
  border: 1px solid #000000;
  height: 450px;
  position: absolute;
  top: 0px;
  left: 349px;
}
.acer-container2{
  box-sizing: border-box;
  width: 150px;
  border: 1px solid #000000;
  height: 450px;
  position: absolute;
  top: 0px;
  left: 525px;
}
.acer-container3{
  box-sizing: border-box;
  width: 150px;
  border: 1px solid #000000;
  height: 450px;
  position: absolute;
  top: 0px;
  left: 700px;
}
.acer-container4{
  box-sizing: border-box;
  width: 150px;
  border: 1px solid #000000;
  height: 450px;
  position: absolute;
  top: 0px;
  left: 873px;
}
/*this is everything for products2*/
.products2{
  position: absolute;
  bottom: -580px;
  left: 0px;
}
.product-section-title{
  text-transform: uppercase;
  text-decoration: underline;
  position: absolute;
  top: 140px;
  left: 320px;
}
.bose-container{
  box-sizing: border-box;
  width: 150px;
  border: 1px solid #000000;
  height: 450px;
  position: absolute;
  top: 180px;
  left: 297px;
  text-align: center;
}
.pioneer-container{
  box-sizing: border-box;
  width: 150px;
  border: 1px solid #000000;
  height: 450px;
  position: absolute;
  top: 180px;
  left: 474px;
  text-align: center;
}
.pico-container{
  box-sizing: border-box;
  width: 150px;
  border: 1px solid #000000;
  height: 450px;
  position: absolute;
  top: 180px;
  left: 650px;
  text-align: center;
}
.pioneer-container2{
  box-sizing: border-box;
  width: 150px;
  border: 1px solid #000000;
  height: 450px;
  position: absolute;
  top: 180px;
  left: 825px;
  text-align: center;
}
.acer-container5{
  box-sizing: border-box;
  width: 150px;
  border: 1px solid #000000;
  height: 450px;
  position: absolute;
  top: 180px;
  left: 1000px;
  text-align: center;
}
.pico-container2{
  box-sizing: border-box;
  width: 150px;
  border: 1px solid #000000;
  height: 450px;
  position: absolute;
  top: 180px;
  left: 1170px;
  text-align: center;
}
/*this is everything for the bottom slideshow*/
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.Sliides{
  position: absolute;
  bottom: -1500px;
  left: 100px;
  border: 1px solid #000000;
}
.Sliides1{
  position: absolute;
  bottom: -1500px;
  left: 350px;
  border: 1px solid #000000;
}
.Sliides2{
  position: absolute;
  bottom: -1500px;
  left: 600px;
  border: 1px solid #000000;
}
.Sliides3{
  position: absolute;
  bottom: -1500px;
  left: 850px; 
  border: 1px solid #000000;
}
/*this is everything in the block before the footer*/
.container-fluid{
  border: 1px solid #000000;
  width: 100%;
  height: 25%;
  position: absolute;
  bottom: -1700px;
  display: inline;
}
.col-x3{
  display: inline-flexbox;
  position: absolute;
  top: 0px;
  left: 100px;
  align-content: center;
  padding: 10px;
}
.col-x3-1{
  display: inline-flexbox;
  position: absolute;
  top: 0px;
  left: 400px;
  align-content: center;
  padding: 10px;
}
.col-x3-2{
  display: inline-flexbox;
  position: absolute;
  top: 0px;
  left: 700px;
  align-content: center;
  padding: 10px;
}
.col-x3-3{
  display: inline-flexbox;
  position: absolute;
  top: 0px;
  left: 1000px;
  align-content: center;
  padding: 10px;
}

/*this is everything in the footer*/
footer{
  width: 100%;
  height: 89%;
}
.footer1{
  border: 1px solid #363636;
  width: 100%;
  height: 110%;
  position: absolute;
  top: 2320px;
  background-color: #000000;
}
.footer-container{
  background-color: #000000;
  -webkit-text-fill-color: #FFFFFF;
  width: 100%;
  height: 100%;

}
.newsletter{
  border: 1px solid transparent;
  height: 50px;
  width: 930px;;
  position: relative;
  top: 5px;
  -webkit-text-fill-color: #FFFFFF;
}
.newsbox{
  position: absolute;
  top: 12px;
  left: 450px;
  -webkit-text-fill-color: #000000;
}
.newsbutton{
  position: absolute;
  top: 3px;
  left: 675px;
  text-transform: uppercase;
  -webkit-text-fill-color: #000000;
}

.different_heads ul{
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  width: 100%;
}

.different_heads ul li{
  border: 1px solid #ddd; /* Add a thin border to each list item */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Add a grey background color */
  padding: 12px; /* Add some padding */
  width: 180px;
  -webkit-text-fill-color: #000000;
}
.account_head{
  -webkit-text-fill-color: #FFFFFF;
}
.account{
  position: relative;
  left: 20px;
  bottom: 10px;
  width: 150px;
}
.client_head{
  border: 1px solid transparent;
  width: 180px;
  height: 50px;
  position: relative;
  bottom: 20px;
  -webkit-text-fill-color: #FFFFFF;
  
}
.client_concierge{
  position: relative;
  left: 220px;
  bottom: 320px;
  width: 150px;
}
.the_company_head{
  -webkit-text-fill-color: #FFFFFF;
}
.the_company{
  position: relative;
  left: 420px;
  bottom: 690px;
  width: 150px;
}
.takealot_group_head{
  -webkit-text-fill-color: #FFFFFF;
}
.takealot_group{
  position: relative;
  left: 620px;
  bottom: 1225px;
  width: 100px;
}
/*this is for everything social media related*/
.row_social_footer{
  position: relative;
  left: 900px;
  bottom: 1320px;
  background-color: #000000;
  width: 400px;
  height: 100px;
  -webkit-text-fill-color: #37992A;
}
.row_social_footer li{
  list-style-type: none;
  display: inline-flex;
}
.social_head{
  position: relative;
  left: 75px;
}
.block_social{
  letter-spacing: 15px;
}
.app_downloads{
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 140px;
  left: 840px;
  border: 1px solid #000000;
}
.playstore_app{
  position: relative;
  bottom: 0px;
  left: 0px;
  border: 1px solid #FFFFFF;
  width: 2fr;
  height: 1fr;
}
.apple_app{
  position: relative;
  bottom: 60px;
  left: 270px;
}
.huawei_app{
  position: relative;
  bottom: 120px;
  left: 109px;
}
.excellent_app{
  position: relative;
  bottom: 160px;
  left: 129px;
}
.bottom_info{
  border: 1px solid #000000;
  height: 5%;
  width: 100%;
  align-content: center;
  position: absolute;
  bottom: -30px;
  background-color: #000000;
}
.bottom_info li{
  list-style-type: none;
  display:inline;
  text-align: center;
  background-color: #1b1a1b;
    border-color: #363636;
    color: #ffffff;
}
.tc{
  position: relative;
  left: 50px;
}
.pp{
  position: relative;
  left: 200px;
}
.sg{
  position: relative;
  left: 450px;
}
.fbtdt{
  position: relative;
  left: 600px;
}